<div class="flex flex-col">
	{% for key,article in blogPosts %}
		<a href="/article/{{article.id}}" class="p-4 mt-4 mb-8 rounded-sm hover:!bg-gray-50 dark:hover:!bg-neutral-950">
			<p class="fr-tag mb-5" id="tag-7165">{{article.category.name}}</p>
			<h2 class="text-2xl font-bold !mb-2">
				{{ article.title }}
			</h2>
			<h3 class=" text-base">{{article.chapo}}</h3>
			<div class="flex gap-2 items-center">
				<span>
					<i class="fa-solid fa-clock mr-2"></i>
					{{article.updatedAt|date("d/m/Y à H:i")}}</span>
			</div>
			<p class="mt-4">{{article.post|markdown|striptags|slice(0,600) ~ '...'}}</p>
			<p class="fr-badge">
				<i class="fa-solid fa-comments mr-3"></i>
				{{ comments[key] }}
				{{ 'commentaire' ~ (comments[key] > 1 ? 's' : '') }}</p>
		</a>
		{% if (key + 1) != blogPosts|length %}
			<hr>
		{% endif %}

	{% endfor %}
</div>
