{% extends "base.html.twig" %}
{% block title 'Gestion des articles' %}
{% block body %}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-3891">Voir le fil d’Ariane</button>
		<div class="fr-collapse" id="breadcrumb-3891">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" id="breadcrumb-3883" href="/home">Accueil</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link">Administration</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" aria-current="page">Gestion des articles</a>
				</li>
			</ol>
		</div>
	</nav>
	<main role="main" id="content">
		<div class="fr-container fr-container--fluid fr-mb-md-14v">
			<div class="fr-table fr-table--bordered fr-table--layout-fixed" id="table-7142">
				<table>
					<caption class="flex flex-col sm:flex-row gap-4 justify-between items-center w-full">
						<span>Gestion des articles</span>
						<a class="fr-btn" href="/administration/articles/create" id="button-create">
							<i class="fa-solid fa-plus mr-3"></i>Ajouter un article
						</a>
					</caption>
					<thead>
						<tr>
							<th scope="col">Article
							</th>
							<th scope="col">Categorie
							</th>
							<th scope="col">Utilisateur
							</th>
							<th scope="col">Créer le
							</th>
							<th scope="col">MAJ le
							</th>
							<th scope="col">Commentaires
							</th>
							<th scope="col">Action
							</th>
						</tr>
					</thead>
					<tbody>
						{% for key,article in articles %}
							<tr>
								<td>
									{{ article.title }}
								</td>
								<td>
									{{ article.category.name }}
								</td>
								<td>
									{{ article.user.firstname ~ ' ' ~ article.user.lastname }}
								</td>
								<td>{{article.createdAt|date("d/m/Y à H:i")}}</td>
								<td>{{article.updatedAt|date("d/m/Y à H:i")}}</td>
								<td>{{ comments[key] }}</td>
								<td>
									<div class="flex gap-2 flex-col items-center w-full">
										<a class="fr-btn fr-btn--tertiary" href="/administration/articles/{{article.id}}" id="button-1362">
											<i class="fa-solid fa-pen mr-3"></i>Modifier
										</a>
										<a class="fr-btn fr-btn--tertiary" href="/administration/articles/{{article.id}}/remove" id="button-1362">
											<i class="fa-solid fa-trash mr-3"></i>Supprimer
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
