{% extends "base.html.twig" %}
{% block title 'Editer un article' %}
{% block body %}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-3891">Voir le fil d’Ariane</button>
		<div class="fr-collapse" id="breadcrumb-3891">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" id="breadcrumb-3883" href="/home">Accueil</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link">Administration</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" href="/administration/articles">Gestion des articles</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" aria-current="page">Editer un article</a>
				</li>
			</ol>
		</div>
	</nav>
	<main role="main" id="content">
		<div class="fr-container fr-mt-8v fr-mt-md-14v fr-mb-2v fr-mb-md-8v">
			<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
				<div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
					<h1 class="fr-h2">Editer un article</h1>
				</div>
			</div>
		</div>
		<div class="fr-container fr-container--fluid fr-mb-md-14v">
			<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
				<div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
					<div class="fr-container fr-background-alt--grey fr-px-md-0 fr-pt-10v fr-pt-md-14v fr-pb-6v fr-pb-md-10v">
						<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
							<div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
								<div>
									<form class="fr-mb-0" id="login-9170" method="post" action="/administration/articles/{{article.id}}" data-turbo="false">
										<input type="hidden" name="_csrf_token" value="{{ _csrf_token }}">
										<fieldset class="fr-mb-0 fr-fieldset" id="login-9170-fieldset" aria-labelledby="login-9170-fieldset-legend login-9170-fieldset-messages">
											<div class="fr-fieldset__element">
												<p class="fr-hint-text">Sauf mention contraire, tous les champs sont obligatoires.</p>
											</div>
											{% if message != null %}
												<div class="fr-fieldset__element">
													<div id="alert-8983" class="fr-mb-2v fr-alert fr-alert--error fr-alert--sm">
														<p>{{ message }}</p>
													</div>
												</div>
											{% endif %}
											<div class="fr-fieldset__element {{ error == 4 ? 'fr-fieldset--error' : '' }}">
												<div class="fr-input-group" id="input-group-9175">
													<label class="fr-label" for="name-9166">
														Titre de l'article
													</label>
													<input value="{{article.title}}" class="fr-input" autocapitalize="off" autocorrect="off" aria-describedby="name-9166-messages" name="name" id="name-9166" type="text" required>
													<div class="fr-messages-group" id="password-9167-input-messages" aria-live="polite">
														<p class="fr-message" id="password-9167-input-message">Le nom de la catégorie doit contenir :</p>
														<p class="fr-message fr-message--info" id="password-9167-input-message-info">3 caractères minimum</p>
														<p class="fr-message fr-message--info" id="password-9168-input-message-info">commencer par une lettre</p>
														<p class="fr-message fr-message--info" id="password-9168-input-message-info">ne pas déjà exister</p>
													</div>
												</div>
											</div>
											<div class="fr-fieldset__element">
												<div class="fr-input-group" id="input-group-9175">
													<label class="fr-label" for="name-9166">
														Catégorie
													</label>
													<select name="category" class="fr-select">
														{% for category in categories %}
															<option {{ category.id == article.category.id ? 'selected':'' }} value="{{ category.id }}">{{ category.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="fr-fieldset__element">
												<div class="fr-password" id="password-9167">
													<label class="fr-label" for="password-9167-input">
														Contenue de l'article
													</label>
													<div class="fr-input-wrap">
														<textarea required class="fr-input markdown-editor" name="message" cols="30" rows="10">{{ article.post }}</textarea>
													</div>
												</div>
											</div>
											<div class="flex justify-between w-full">
												<div class="fr-fieldset__element">
													<ul class="fr-mt-2v fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-sm fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-sm">
														<li>
															<a class="fr-btn fr-btn--secondary" href="/administration/articles">
																Annuler
															</a>
														</li>
													</ul>
												</div>
												<div class="fr-fieldset__element">
													<ul class="fr-mt-2v fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-sm fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-sm">
														<li>
															<button class="fr-btn" id="button-9176" type="submit">
																Valider
															</button>
														</li>
													</ul>
												</div>
											</div>
											<div class="fr-messages-group" id="login-9170-fieldset-messages" aria-live="polite"></div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
